@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Marcellus&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-color);
}

body {
    background-color: #07071B;
}

.header {
    width: 100%;
    overflow-x: hidden;
    background-image: url(image/krvjbrv.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

:root{
    --primary-color: #2cbca5;
    --secondary-color: #fff;
    --trns-03: 0.3 ease
    --trns-05: 0.5 ease
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 120px 8%;
    gap: 50px;
}

#section_image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section_title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.section_title span {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.2rem;
}


.section_title h1{
    font-size: 3.8rem;
    font-family: 'marcellus', serif;
    font-weight: 600;
}

.section_title p {
    color: #ffffff8b;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.8rem;
}

.section_page {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/kjecn-979x1024.png);
    background-size: 100%;
    background-position: top;

}

.hero_image {
    width: 100%;
    background-image: url(image/tknvlt.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.section_page img{
    animation: Anim_top_down 6s infinite;
}

@keyframes Anim_top_down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px) translateX(-20px);
    }
    100%{
        transform: translateY(0px) translateX(0px);
    }
}

.btn {
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
    background-image: linear-gradient(90deg , #e75469 0%, #a93ef8 100%);
    cursor: pointer;
}

.ri-menu-3-fill {
    display: none;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    position: fixed;
    z-index: 999;
    background-color: #13132598;
    border-bottom: 1px solid #2cbca4cd;
    border-radius: 30px;
}

nav .logo a {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li a , nav ul li i{
    color: var(--secondary-color);
    font-size: 18px;
    transform: rotate(90deg);
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav button{
    height: 40px;
    width: 140px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    transition: var(--trns-03);
    background-color: transparent;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero-logo {
    width: 400px;
    display: flex;
    gap: 50px;
    padding-top: 80px;
}

#breallyimg , #acumeimg {
    width: 35%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: contain;
    opacity: 0.5;
    transition: var(--trns-05);
}

#breallyimg:hover, #acumeimg:hover {
    opacity: 1;
}

.rows {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 8%;
    border-top: 1px solid #ffffff8b;
    width: 85%;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col h2 {
    font-size: 3rem;
    font-family: 'Popping', sans serif;
    font-weight: 500;
}

.col span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff8b;
}

.about {
    background-image: url(image/knkjnll.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.aboutimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutimg img {
    animation: none;
    background-size: 80%;
    background-position: bottom;
}

#animationtopDown {
    width: 80%;
    background-size: 70%;
    background-position: right top;
    background-repeat: no-repeat;
    animation: Anim_topDown 5s infinite;
}

@keyframes Anim_topDown {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.features {
    background-image: url(image/ricuthc.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.features_main {
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: #131325;
    border-radius: 5px;
    gap: 50px;
    padding: 30px;
}

.features_title {
    width: 100%;
    align-items: center;
    text-align: center;
}


.features_boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
.features_box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 40px 40px 40px 40px !important;
    margin: 20px 20px 20px 20px !important;
    border-radius: 50px;
    background-color: #25283d;
}
 .features_box img{
    margin-top: -80px;
    margin-bottom: 40px;
 }
 .features_box img{
    width: 120px !important;
    height: 125px !important;
    object-fit: contain;
 }

 .features_box h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 10px 0;
 }

 .features_box .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .features_box p {
    letter-spacing: 1px;
    color: #ffffff8b;
 }

 .battle {
    width: 100%;
    background-image: url(image/knkjnll.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
 }

 .Collections {
    width: 100%;
    background-image: url(image/ricuthc.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
 }

 .Collections button{
    color: var(--primary-color);
    background-color: transparent;
    font-size: 18px;
    border: none;
    font-weight: 600;
    padding-bottom: 3px;
    transform: var(--trns-03);
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
 }

 .Collections button i{
    color: var(--primary-color);
    padding-left: 5px;
 }

 .swiper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(image/kjecn-979x1024.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
 }

 .slide-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
 }

 .swiper-slide img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
 }

 .swiper-button-next:after , .swiper-rt1 .swiper-button-prev:after {
    display: none;
 }
 .swiper-button-prev:after , .swiper-rt1 .swiper-button-next:after {
    display: none;
 }

 #swiperbtn {
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 30px;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    color: #131325;
    font-weight: 900;
 }

 .prev_btn {
    position: absolute;
    left: 85% !important;
 }

 .banner {
    width: 85%;
    margin: 0 auto;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E75469 0%, #A93Ef8 100%) !important;
    border-radius: 10px;
 }

 .banner-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 50px;
    background-image: url(image/k5jfyn.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
 }

 .banner-text h1, .banner-main span {
    font-size: 2.5rem;
    color: #131325;
    width: 80%;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
 }

 .banner-main span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    transition: var(--trns-05);
 }

 .banner-main span:hover:after {
    height: 100%;
 }

 .banner-main p {
    font-size: 22px;
    padding: 30px 0;
 }

 .banner-main .banner-btn {
    height: 50px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    border: none;
    background-color: #131325;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
 }

 .testimonial-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .testimonial-col .start i {
    color: rgb(255, 196, 0);
    font-size: 22px;
 }

 .testimonial-col h3 {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff8b;
 }

 .user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .user .info h4 {
    font-size: 20px;
    padding-bottom: 5px;
 }

 .user span {
    font-weight: 500;
    color: #ffffff8b;
 }

 .user-img {
    height: 60px;
    width: 60px;
 }

 .user-img img {
    width: 100%;
    border-radius: 50%;
 }

 .bannerTwo {
    width: 100%;
    height: 500px;
    background-image: url(image/kbkjn\ \(1\).png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    border-radius: 5px;
 }

 .play-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 100px;
    width: 100px;
    z-index: 99;
    background-color: #131325;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
 }

 .play-btr i {
    font-size: 35px;
 }

 .bannerThree {
    width: 100%;
    background-image: url(image/tknvlt.png);
    background-size: 50%;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background-color: #131325;
 }

 .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-image: url(image/vbjbj\ \(1\).png);
    background-size: 50%;
    background-position: left top;
    background-repeat: no-repeat;
    padding: 40px 0px;
 }

 .text h1 {
    font-size: 4rem;
    width: 80%;
    text-align: center;
    color: #ffffff8b;
 }

 footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 8%;
 }

 .fcol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
 }

 .fcol ul li {
    padding-bottom: 10px;
    font-size: 17px;
 }

 .fcol ul li a{
    font-family: 'Poppins';
 }

 .fcol p {
    width: 350px;
 }

 .fcol h3{
    font-size: 25px;
    font-weight: 500;
 }

 input {
    background-color: transparent;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    outline: none;
 }


@media (max-width: 1400px) {
    .section_title h1{
        font-size: 3.5rem;
    }
}

@media (max-width: 1100px) {
    .section_title h1 {
        font-size: 3rem;
    }
    .features_boxes{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .banner-text h1, .banner-main span {
        font-size: 2rem;
    }
    footer {
        grid-template-columns: repeat(2,1fr);
    }
    .section_page, .hero_image img {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .section {
        flex-direction:column;
        gap: 50px;
    }
    .section_title {
        width: 100%;
    }
    .section_page {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul li button{
        display: none;
    }
    .menu{
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column; 
        text-align: center;
        transition: var(--trns-05);
        overflow: hidden;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-radius: 30px;
    }
    .menu li a:hover{
        color: #000;
    }
    .menu li:nth-child(1) {
        padding: 18px;
    }
    .show {
        height: 350px;
    }
    .ri-menu-3-fill {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary-color);
        font-size: 24px;
        background-color: var(--primary-color);
        height: 40px;
        width: 40px;
        border-radius: 5px;
    }

    .hero-logo{
        padding: 0;
    }

    .rows {
        grid-template-columns: repeat(2,1fr);
    }
    .swiper { 
        width: 80%;
    }
    .testimonial-col{
        width: 100%;
    }
    .banner-text h1 , .banner-main span{
        font-size: 1.5rem;
    }
    .AnimtopDown {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .section_title h1{
        font-size: 3rem;
    }
    .features_box{
        padding: 30px 30px 30px 30px;
        margin: 10px 10px 10px 10px;
    }
    .text h1{
        font-size: 2rem;
    }
    .prev_btn{
        left: 0% !important;

    }
}

@media (max-width: 500px) {
    .section_title h1 {
        font-size: 2.7rem;
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-main {
        flex-direction: column;
        align-items: start;
    }
    .banner-text h1, .banner-main span{
        font-size: 1rem;
    } 
    .banner-main p {
        font-size: 17px;
    }
    .prev_btn{
        width: 78% !important;
    }
    .swiper{
        width: 100%;
    }
    .play-btn {
        height: 80px;
        width: 80px;
    }
    .features_boxes {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

